@import "mq";
@import "mixins";

#app {
	width: 100%;
	max-width: 720px;
	box-sizing: border-box;
	padding: 10px;
	margin: auto;
	display: inline-block;
    -o-border-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 1px, transparent 1px, transparent 4px) 13;
    border-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 1px, transparent 1px, transparent 4px) 13;
    border-top: 13px solid black;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background: #f1f1f1;
    position: relative;

    #voxbox_intro {
		font-size: 16px;
	    line-height: 20px;
	    color: #333333;
	    font-family: "Guardian Egyptian Web", Georgia, serif;
	    margin-bottom: 10px;
	  	font-weight: 300;
    }

	h2 {
		margin-top: 10px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		-webkit-font-smoothing: antialiased;
		color: #333333;
		font-family: "GH Guardian Headline", Georgia, serif;
		margin-bottom: 10px;
	}

	.headshot_block_container {
		width: 100%;
		
		display: block;
		position: relative;
	}

	.headshot_block {
		height: 0px;
		float: left;

	    @include mq($until: device) {
	      width: 25%!important;
	      padding-bottom: 25%!important;
	    }

		.headshot {
			position: relative;
			width: calc(100% - 20px);
			height: 0px;
			padding-bottom: calc(100% - 20px);
			background-color: black;
			margin: auto;
			border-radius: 50%;
			cursor: pointer;
			margin-top: 10px;
			background-size: cover;
			background-repeat: no-repeat;

		} 

	}  

	.pulse {
	    margin-top: 0px;
	    border:solid 10px;
	    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(0%);

	}

	#panel {
		background-color: white;
		width: 100%;
		display: inline-block;
		box-sizing: border-box;
		padding: 20px;
		margin-top: 10px;

	}

	.component-button {
	  margin-top: 10px;
	  float: right;
	  @include component-button($bgColor: rgb(199, 0, 0), $color: white, $hoverBgColor: rgb(199, 0, 0));

	}

	.read-more-solo {

		font-size: 16px;
	    line-height: 20px;
	    color: #333333;
	    font-family: "Guardian Egyptian Web", Georgia, serif;
	    margin-bottom: 10px;
	    font-weight: 300;


	}

	.column {
		margin: auto;
	}

	.story_block_container {
	  width: 100%;
	  display: inline-block;
	  margin-bottom: 20px;
	}

	.story_block {
		margin-bottom: 20px;
		margin: auto;
		width: 100%;
	}

	.read-more-state {
	  display: none;
	}

	.read-more-target {
	  opacity: 0;
	  max-height: 0;
	  font-size: 0;
	  transition: .25s ease;
	  display: none;
	  margin-top: 20px;
	}

	.read-more-state:checked ~ .read-more-wrap .read-more-target {
	  opacity: 1;
	  display: block;
	  font-size: inherit;
	  max-height: 999em;
	  padding-bottom: 20px;
	}

	.read-more-trigger {
	  cursor: pointer;
	  display: inline-block;
	  padding: 0 .5em;
	  color: black;
	  font-size: .9em;
	  line-height: 2;
	  border: 1px dotted black;
	  border-radius: .25em;
	  float: right;
	  margin-top: 10px;
	}

}





